@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Light.woff2') format('woff2'),
    url('/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('/fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProtestStrike';
  src:
    url('/fonts/ProtestStrike-Regular.woff2') format('woff2'),
    url('/fonts/ProtestStrike-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.heading-one {
  @apply text-[85px] sm:text-[130px] md:text-[140px] lg:text-[160px] xl:text-[200px] uppercase;
}

.heading-accent-red {
  @apply text-accentRed;
}

.heading-accent-turqoise {
  @apply text-accentTurqoise;
}

.heading-accent-violet {
  @apply text-accentViolet;
}

@keyframes colorChangeOne {
  0%,
  33% {
    color: #00c2d9;
  }
  34%,
  66% {
    color: #823dd1;
  }
  67%,
  100% {
    color: #f14545;
  }
}

@keyframes colorChangeTwo {
  0%,
  33% {
    color: #823dd1;
  }
  34%,
  66% {
    color: #f14545;
  }
  67%,
  100% {
    color: #00c2d9;
  }
}

@keyframes colorChangeThree {
  0%,
  33% {
    color: #f14545;
  }
  34%,
  66% {
    color: #00c2d9;
  }
  67%,
  100% {
    color: #823dd1;
  }
}

.heading-animated-one {
  animation: colorChangeOne 3s infinite linear;
}

.heading-animated-two {
  animation: colorChangeTwo 3s infinite linear;
}

.heading-animated-three {
  animation: colorChangeThree 3s infinite linear;
}

.logo {
  @apply font-logo uppercase mt-2 text-xl tracking-widest;
}

.lead {
  @apply w-10/12 sm:w-1/2 lg:w-10/12 mx-auto -mt-16 xl:-mt-24 text-center text-4xl md:text-5xl xl:text-6xl uppercase font-medium text-gray-800 leading-8;
}
