@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Light.woff2') format('woff2'),
    url('/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src:
    url('/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('/fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.heading-one {
  @apply text-[85px] sm:text-[130px] md:text-[120px] lg:text-[160px] uppercase;
}

.heading-accent-red {
  @apply text-accentRed;
}

.heading-accent-turqoise {
  @apply text-accentTurqoise;
}

.heading-accent-violet {
  @apply text-accentViolet;
}
